@tailwind base;

/* Estilo de scroll */

* {
  scrollbar-width: thin;
  scrollbar-color: #273444 #8492a6;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #8492a6;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #273444;
  border-radius: 14px;
  border: 3px solid #8492a6;
}


@tailwind components;
@tailwind utilities;

/* Seletor de períodos */

:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }
  
  .period div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .period input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .period input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #1fb6ff;
    background-color: #fff;
    z-index: 1;
    color: #1fb6ff;
  }
  
  label span {
    display: block;
    cursor: pointer;
    background-color: #d3dce6;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #273444;
    letter-spacing: .05em;
    color: #8492a6;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }

  /* Seletor de dados */

  .radio-input {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .radio-input input[type="radio"] {
    display: none;
  }
  
  .radio-input label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d3dce6;
    background-color: #212121;
    color: #fff;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #d3dce6;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-input input[type="radio"]:checked + label:before {
    background-color: #12ab50;
    top: 0;
  }
  
  .radio-input input[type="radio"]:checked + label {
    background-color: #1fb6ff;
    color: #fff;
    border-color: #12ab50;
    animation: radio-translate 0.5s ease-in-out;
  }
  
  @keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  